<h1 class="title"><%= icon("tachometer") %> Dashboard</h1>

<div style="margin-bottom: 1.5rem">
  <%= link_to icon("plus-circle", "Start New Log"), logs_path, method: :post, class: "button is-link" %>
  <%= link_to icon("file-export", "Export Last Pay Period"), logs_path, method: :post, class: "button is-link" %>
</div>

<div class="box">
  <span class="title"><%= pluralize(number_with_precision(Log.current_pay_period_elapsed_seconds / 60.0 / 60, strip_insignificant_zeros: true, precision: 2), "Hour") %> This Pay Period</span>
  <small><%= Log.current_pay_period_dates.min.strftime("%b %e, %Y") %> - <%= Log.current_pay_period_dates.max.strftime("%b %e, %Y") %></small>
</div>

<table class="table" style="width: 100%;">
  <thead>
    <tr>
      <th style="text-align: center">Active</th>
      <th>Start</th>
      <th>End</th>
      <th>Hours</th>
      <th>Project</th>
      <th style="text-align: center;" colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td style="text-align: center;"><%= icon(log.active? ? 'check' : 'times', class: log.active? ? "has-text-success" : "has-text-danger") %></td>
        <td><%= formatted_time(log.start_at) %></td>
        <td>
          <% if log.end_at? %>
            <%= formatted_time(log.end_at) %>
          <% else %>
            <span>Not Set</span>
          <% end %>
        </td>
        <td style="text-align: center">
          <% if log.hours.present? %>
            <%= number_with_precision(log.hours, strip_insignificant_zeros: true, precision: 2) %>
          <% else %>
            <span>N/A</span>
          <% end %>
        </td>
        <td><%= log.project&.name || "Not Set" %></td>
        <td><%= link_to "Edit", edit_log_path(log) %></td>
        <td><%= link_to "Delete", log_path(log), method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>