<h1 class="title"><%= icon("tachometer") %> Dashboard</h1>

<%= link_to icon("plus-circle", "Start New Log"), logs_path, method: :post, class: "button is-link" %>

<table class="table">
  <thead>
    <tr>
      <th style="text-align: center">Active</th>
      <th>Start</th>
      <th>End</th>
      <th>Hours</th>
      <th>Project</th>
      <th style="text-align: center;" colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td style="text-align: center;"><%= icon(log.active? ? 'check' : 'times', class: log.active? ? "has-text-success" : "has-text-danger") %></td>
        <td><%= formatted_time(log.start_at) %></td>
        <td>
          <% if log.end_at? %>
            <%= formatted_time(log.end_at) %>
          <% else %>
            <span>Not Set</span>
          <% end %>
        </td>
        <td style="text-align: center">
          <% if log.hours.present? %>
            <%= number_with_precision(log.hours, strip_insignificant_zeros: true, precision: 2) %>
          <% else %>
            <span>N/A</span>
          <% end %>
        </td>
        <td><%= log.project&.name || "Not Set" %></td>
        <td><%= link_to "Edit", edit_log_path(log) %></td>
        <td><%= link_to "Delete", log_path(log), method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>