<h1 class="title">Invoices</h1>

<h5 class="title is-5">Create New Invoice</h5>
<%= form_for @invoice, remote: true, html: {class: "invoice-form"} do |f| %>
  <div class="columns">
    <div class="column">
      <div class="field">
        <%= f.label :start_date %>
        <div class="control">
          <%= f.date_field :start_date, value: input_date(@invoice.start_date), required: true, class: "input date-input", pattern: "[0-9]{2}/[0-9]{2}/[0-9]{4}" %>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="field">
        <%= f.label :end_date %>
        <div class="control">
          <%= f.date_field :end_date, value: input_date(@invoice.end_date), required: true, class: "input date-input", pattern: "[0-9]{2}/[0-9]{2}/[0-9]{4}" %>
        </div>
      </div>
    </div>
  </div>

  <div>
    <%= f.submit class: "button is-primary" %>
  </div>
<% end %>

<table class="table" style="width: 100%;">
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Status</th>
      <th>File</th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= formatted_date(invoice.start_date) %></td>
        <td><%= formatted_date(invoice.end_date) %></td>
        <td><%= invoice.status %></td>
        <td><%= link_to(invoice.pdf.filename, url_for(invoice.pdf), target: :_blank) if invoice.pdf.attached? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @invoices %>
