<h1 class="title">Projects</h1>

<%= link_to icon("plus-circle", "New Project"), new_project_path, class: "button is-primary" %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Short</th>
      <th class="has-text-centered" colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr style="<%= 'opacity: 0.5' if project.archived? %>">
        <td><%= project.name %></td>
        <td><%= project.short_name %></td>
        <td><%= link_to "Edit", edit_project_path(project) %></td>
        <td><%= link_to "#{project.archived? ? 'Una' : 'A'}rchive", project_path(project, project: {archived: !project.archived?}), method: :patch %></td>
      </tr>
    <% end %>
  </tbody>
</table>