<tr style="<%= 'background: #ddd;' unless log.active? %>">
  <td style="text-align: center;"><%= icon(log.active? ? 'check' : 'times', class: log.active? ? "has-text-success" : "has-text-danger") %></td>
  <td>
    <%= formatted_date(log.start_at) %>
    <%= formatted_time(log.start_at) %>
  </td>
  <td>
    <% if log.end_at? %>
      <%= formatted_date(log.end_at) %>
      <%= formatted_time(log.end_at) %>
    <% else %>
      <span>Not Set</span>
    <% end %>
  </td>
  <td style="text-align: center">
    <% if log.hours.present? %>
      <%= number_with_precision(log.hours, strip_insignificant_zeros: true, precision: 2) %>
    <% else %>
      <span>N/A</span>
    <% end %>
  </td>
  <td><%= log.project&.short_name || "Not Set" %></td>
  <td><span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block; max-width: 300px;" title="<%= log.description %>"><%= log.description %></span></td>
  <td><%= link_to "Edit", edit_log_path(log) %></td>
  <td><%= link_to "Delete", log_path(log), method: :delete, data: {confirm: "Are you sure?"} %></td>
</tr>