<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><%= link_to "Dashboard", dashboard_path %></li>
    <li class="is-active"><a href="#" aria-current="page"><%= params[:action].titleize %> Log</a></li>
  </ul>
</nav>

<h1 class="title">Edit Log</h1>

<%= form_for @log, remote: true, html: {class: "log-form"} do |f| %>
  <div class="columns">
    <div class="column">
      <div class="field">
        <%= label_tag "log[start_at][date]", "Start Date" %>
        <div class="control">
          <%= text_field_tag "log[start_at][date]", formatted_date(@log.start_at), class: "input date-input", id: "log_start_date" %>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="field">
        <%= f.label "start_at[time]", "Start Time" %>
        <div class="control">
          <%= f.text_field "start_at[time]", value: formatted_time(@log.start_at), class: "input time-input", id: "log_start_time" %>
        </div>
      </div>
    </div>

    <div class="column">
      <%= f.label "end_at[date]", "End Date" %>
      <div class="field">
        <div class="control">
          <%= f.text_field "end_at[date]", value: formatted_date(@log.end_at), class: "input date-input", id: "log_end_date" %>
        </div>
      </div>
    </div>

    <div class="column">
      <%= f.label "end_at[time]", "End Time" %>
      <div class="field has-addons">
        <div class="control">
          <%= f.text_field "end_at[time]", value: formatted_time(@log.end_at), class: "input time-input", id: "log_end_time" %>
        </div>

        <div class="control">
          <%= button_tag "Now", type: :button, class: "button", onclick: "var m = moment(); document.getElementById('log_end_date').value = m.format('MM/DD/YYYY'); document.getElementById('log_end_time').value = m.format('h:mm A');" %>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :project_id %>
    <div class="control">
      <div class="select">
        <%= f.collection_select :project_id, Project.all, :id, :name, {prompt: "Please select"} %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :description %>
    <div class="control">
      <%= f.text_area :description, class: "textarea" %>
    </div>
  </div>

  <div>
    <%= f.submit class: "button is-light" %>
    <%= f.submit "Finish Log", type: :submit, class: "button is-primary" %>
  </div>
<% end %>