<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><%= link_to "Dashboard", dashboard_path %></li>
    <li class="is-active"><a href="#" aria-current="page"><%= params[:action].titleize %> Log</a></li>
  </ul>
</nav>

<h1 class="title">Edit Log</h1>

<%= form_for @log, remote: true, html: {class: "log-form"} do |f| %>
  <div class="columns">
    <div class="column">
      <div class="field">
        <%= label_tag "log[start_at][date]", "Start Date", for: "log_start_date" %>
        <div class="control">
          <%= date_field_tag "log[start_at][date]", input_date(@log.start_at), class: "input date-input", id: "log_start_date", required: true, pattern: "[0-9]{2}/[0-9]{2}/[0-9]{4}" %>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="field">
        <%= label_tag "log[start_at][time]", "Start Time", for: "log_start_time" %>
        <div class="control">
          <%= time_field_tag "log[start_at][time]", input_time(@log.start_at), class: "input time-input", id: "log_start_time", required: true, pattern: "[0-1]{2}:[0-5][0-9] (A|P)M" %>
        </div>
      </div>
    </div>

    <div class="column">
      <%= label_tag "log[end_at][date]", "End Date", for: "log_end_date" %>
      <div class="field">
        <div class="control">
          <%= date_field_tag "log[end_at][date]", input_date(@log.end_at), class: "input date-input", id: "log_end_date", pattern: "[0-9]{2}/[0-9]{2}/[0-9]{4}" %>
        </div>
      </div>
    </div>

    <div class="column">
      <%= label_tag "log[end_at][time]", "End Time", for: "log_end_time" %>
      <div class="field has-addons">
        <div class="control">
          <%= time_field_tag "log[end_at][time]", input_time(@log.end_at), class: "input time-input", id: "log_end_time", pattern: "[0-1]{2}:[0-5][0-9] (A|P)M" %>
        </div>

        <div class="control">
          <%= button_tag "Now", type: :button, class: "button", onclick: "var m = moment(); document.getElementById('log_end_date').value = m.format('YYYY-MM-DD'); document.getElementById('log_end_time').value = m.format('HH:mm');" %>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-one-fifth">
      <div class="field">
        <%= label_tag :hours %>
        <div class="control">
          <%= text_field_tag :hours, "--", readonly: true, class: "input", style: "background: #000; color: #888" %>
        </div>
      </div>
    </div>
    <div class="column is-four-fifths">
      <div class="field">
        <%= f.label :project_id %>
        <div class="control">
          <div class="select">
            <%
              projects = Project.alphabetized.unarchived
              projects = projects | [@log.project] if @log.project.present? && projects.exclude?(@log.project)
            %>
            <%= f.collection_select :project_id, projects, :id, :name, {prompt: "Please select"} %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :description %>
    <div class="control">
      <%= f.text_area :description, class: "textarea" %>
    </div>
  </div>

  <div>
    <%= f.submit class: "button is-light" %>
    <%= f.submit "Finish Log", type: :submit, class: "button is-primary" %>
  </div>
<% end %>