<%= link_to "Start New Log", logs_path, method: :post %>

<table>
  <thead>
    <tr>
      <th>Range</th>
      <th>Hours</th>
      <th>Project</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @logs.each do |log| %>
      <tr style="<%= 'opacity: 0.6;' unless log.active? %>">
        <td><%= log.start_at %> - <%= log.end_at %></td>
        <td><%= log.hours %></td>
        <td><%= log.project&.name %></td>
        <td><%= link_to "Edit Log", edit_log_path(log) %></td>
      </tr>
    <% end %>
  </tbody>
</table>