<!DOCTYPE html>
<html>
  <head>
    <title>Rubatime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-xyMU7RufUdPGVOZRrc2z2nRWVWBONzqa0NFctWglHmt5q5ukL22+lvHAqhqsIm3h" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <!-- <div class="navbar-brand"></div> -->
      <div class="navbar-menu" style="display: block;">
        <div class="navbar-item <%= 'is-active' if current_page?(controller: 'dashboard', action: 'index') %>"><%= link_to "Dashboard", dashboard_path %></div>
        <div class="navbar-item <%= 'is-active' if current_page?(controller: 'projects', action: 'index') %>"><%= link_to "Projects", projects_path %></div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>
  </body>
</html>
